http://trotracker.com, http://www.trotracker.com {
  @baidu_verification path /baidu_verify_codeva-qodYHkCtHy.html

  handle @baidu_verification {
    header Content-Type "text/html; charset=utf-8"
    respond "76384d2011bf8f286f046969c562aca3" 200
  }

  handle {
    redir https://www.trotracker.com{uri} 301
  }
}

trotracker.com {
  redir https://www.trotracker.com{uri} permanent
}

www.trotracker.com {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Referrer-Policy strict-origin-when-cross-origin
    X-Content-Type-Options nosniff
    X-Frame-Options SAMEORIGIN
  }

  reverse_proxy app:4127
}
